@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to my PizzaBox</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        Create Account
                    </td>
                </tr>
                <tr>
                    <td>
                        Login
                    </td>
                </tr>
            </tbody>
        </table>
</div>
